<h1>Here is a list of posts for a given user</h1>
<%= render'partials/user', user: @user %>
  <% @posts.each do |post| %>
  <div class="post">

  <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
  <%= render'partials/post', post: post%>

  </a>

   <% if can? :destroy, Post %>
       <%= button_to 'delete post', user_post_path(@user, post.id), method: :delete %>
    <% end %>

  </div>
  <% end%>

<button > Pagination </button>
