<h1>Here is a list of posts for a given user</h1>
<%= render'partials/user', user: @user %>
  <% @posts.each do |post| %>
  <div class="post">
  <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
  <%= render'partials/post', post: post%>
  </a>

  <div class='comment'>
    <% post.return_recent_comments.each do |comment| %>
    <% username = User.find(comment.author_id).name %>
      <p> <%= username %>: <%= comment.text%><p>
    <% end %>
  </div>
  </div>
  <% end%>

<button > Pagination </button>
