<h2><%= @posts.author.name%></h2>
<div class="post">
  <div class="my-post">
    <div class='post-title'>
    
      <h3><%=@posts.title%> | by <%= @posts.author.name%></h3>
      <p class="stats-comment"> Comments: <%= @posts.comments_counter or 0 %> | Likes: <%= @posts.likes_counter or 0 %> </p>
    </div>
      <p>Post : <%= @posts.text%> </p>
  </div>
  <div class="comment">
     <% @post.comments.includes([:author, :post]).each do |comment| %>
  <h1><% username = User.find(comment.author_id).name %></h1>
      <p> <%= username%>: <%= comment.text%><p>
      <% if can? :destroy, Comment %>
       <%= button_to 'delete comment', user_post_comment_path(comment.author, comment.post,comment), method: :delete %>
    <% end %>
    <% end %>
    <%= form_with url: "/users/#{@posts.author_id}/posts/#{@posts.id}/likes" do |f| %>
      <%= f.submit "Like" %>
    <% end %>
    <%= link_to 'Add comment', new_user_post_comment_path(@user, @posts) %>
  </div>
</div>
